/* Course: SENG 513 */
/* Date: OCT 28, 2023 */
/* Assignment 3 */
/* Name: Connor Swartz */
/* UCID: 30055899 */

body {
    font-family: Arial, sans-serif;
    background-color: #5C4033;
    margin: 0;
    padding: 0;
}

.main-menu-button {
    padding: 10px 20px;
    font-size: 18px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    transition: background-color 0.3s;
    background-color: #8B8000;
    color: white; 
    font-size: 1rem;          
    padding: 0.5rem 1rem;    
    position: absolute;  
    top: 8px;           
    left: 8px;          
    z-index: 10;
}

.main-menu-button:hover {
    background-color: #A6A222;
}

.options-title {
    position: absolute;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 3rem;
    color: #A6A222;
}

.container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%; 
    text-align: center;
}

.starter-container, .rounds-container, .option-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px 0;
}

.label {
    margin-right: 20px;
    font-size: 1.5rem;
    color: #A6A222;
}

.rounds-container {
    margin-right: 30px;
}

.starter-container {
    margin-left: 193px;
}

.option-container {
    margin-right: 80px;
}

.starter-button, .option-button, .round-button {
    padding: 10px 30px;
    border: 1px solid black;
    background-color: #8B8000;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s;
    font-size: 1.5rem;
    margin: 0;
}

.starter-button:hover, .option-button:hover, .round-button:hover {
    background-color: #A6A222;
}

.starter-button.selected, .option-button.selected, .round-button.selected {
    background-color: #A6A222;
}

/* Responsive design: Adjust sizes for smaller screens */
@media screen and (max-width: 950px) {
    .main-menu-button {
        font-size: 0.8rem;
        padding: 0.4rem 0.8rem;
        position: relative;
        top: 0;
        left: 0;
        margin-bottom: 20px;
    }
}